manifest {
    name = 'rna-seq-nextflow-aws'
    description = 'Containerized RNA-seq quantification pipeline: FASTQ -> fastp -> Salmon -> MultiQC -> count matrix'
    author = 'Thomas Kolarik'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.10.0'
    version = '0.1.0'
}

params {
    samplesheet = 'data/samplesheet.csv'
    transcriptome = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/prokaryotic/SL1344_sub.fasta'
    outdir = 'results'
    salmon_libtype = 'A'
    salmon_min_assigned_frags = 10
}

process {
    executor = 'local'
    container = 'rna-seq-nextflow-aws:0.1.0'
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withLabel: process_medium {
        cpus = 2
        memory = '6 GB'
        time = '4h'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }

    test {
        params.samplesheet = 'data/test_samplesheet.csv'
        params.outdir = 'results/test'
        process.executor = 'local'
        docker.enabled = true
    }

    live {
        params.samplesheet = 'data/airway_samplesheet.csv'
        params.transcriptome = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz'
        params.outdir = 'results/airway_srr1039508'
        docker.enabled = true

        process {
            executor = 'local'

            withLabel: process_medium {
                cpus = 4
                memory = '12 GB'
                time = '12h'
            }
        }
    }

    awsbatch {
        includeConfig 'conf/awsbatch.config'
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
