aws {
    region = System.getenv('AWS_REGION') ?: 'us-east-1'
}

process {
    executor = 'awsbatch'
    queue = System.getenv('AWS_BATCH_QUEUE') ?: 'nextflow-rnaseq-queue'
    container = System.getenv('PIPELINE_CONTAINER') ?: 'public.ecr.aws/example/rna-seq-nextflow-aws:0.1.0'
}

workDir = System.getenv('NXF_WORK') ?: 's3://replace-me-nextflow-work/rnaseq/work'

docker.enabled = false

params.outdir = System.getenv('PIPELINE_OUTDIR') ?: 's3://replace-me-nextflow-results/rnaseq/results'
